/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

main {
  background-color: lightgray;
  padding: 25px;
  border-radius: 5px;
}

header.quiztitle {
  text-align: center;
}

section.submitbutton {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
